@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
* {
  font-family: Poppins;
  padding: 0px 0px;
  margin: 0px 0px;
}
header {
  padding: 100px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list > a {
  margin: 10px;
  text-decoration: none;
  color: inherit;
}
.main-camera {
  display: flex;
  padding: 100px;
}

.influ-intro {
  color: #3a3a3a;
  font-weight: 700;
}
.influ-dis {
  color: #3a3a3a;

  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-pink {
  padding: 15px 25px;
  border-radius: 60px;
  background: #e02c6d;
  color: #fff;
  align-items: center;
  font-weight: 700;
  border-style: none;
}
.white-arrow {
  padding-left: 8px;
}
.dslr-png {
  position: relative;
  margin-left: 700px;
}
#svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#image {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 2;
}
.logos {
  padding-top: 230px;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
.popular-collection {
  padding-top: 50px;

  display: grid;

  grid-template-columns: repeat(3, 25rem);
  margin-left: 380px;
}
@media screen and (max-width: 567px) {
  header {
    padding: 30px;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
  }

  .main-camera {
    padding: 20px;
    flex-direction: column;
  }
  .dslr-png {
    margin-left: 0px;
  }
  #svg,
  #image {
    padding-top: 40px;
    margin-left: 50px;
    width: 257px;
    height: 257px;
  }
  .logos {
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 30px;
  }
}
